# ToDO

Download the test data set from Kaggle and merge it with your current data set.

# Splitting the Data Set

We would split the Bakery Sales data

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns


# Global plot settings
plt.rcParams['figure.dpi'] = 150   # Set the resolution of the plots to 150 DPI
plt.style.use('fivethirtyeight')

Read the data

In [7]:
df_sales = pd.read_csv("featured_data_categorised.csv", encoding = "utf-8")

df_sales.head()

,id,Datum,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Woche,Monat,Wochentag,Feiertag,Jahreszeit,Ferien
0,1307011,2013-07-01,1,148.828353,6.0,17.8375,15.0,cloudy,0,27,7,1,0,3,0
1,1307021,2013-07-02,1,159.793757,3.0,17.3125,10.0,cloudy,0,27,7,2,0,3,0
2,1307031,2013-07-03,1,111.885594,7.0,21.0750,6.0,rainy,0,27,7,3,0,3,0
3,1307041,2013-07-04,1,168.864941,7.0,18.8500,7.0,cloudy,0,27,7,4,0,3,0
4,1307051,2013-07-05,1,171.280754,5.0,19.9750,12.0,cloudy,0,27,7,5,0,3,0

## Splitting by 'Date Mask'

Write code to split your dataset into 

- a training dataset from 01.07.2013 to 31.07.2017
- a validation dataset from 01.08.2017 to 31.07.2018
- the test set from 01.08.2018 to 31.07.2019

In [8]:
# Step 1: Convert the 'Datum' column to datetime format
df_sales["Datum"] = pd.to_datetime(df_sales["Datum"], errors="coerce", format="%Y-%m-%d")

In [9]:
# Step 2: Define the masks for each split
# We use >= for the start and <= for the end to include the boundary dates
train_mask = (df_sales['Datum'] >= '2013-07-01') & (df_sales['Datum'] <= '2017-07-31')
val_mask = (df_sales['Datum'] >= '2017-08-01') & (df_sales['Datum'] <= '2018-07-31')
test_mask = (df_sales['Datum'] >= '2018-08-01') & (df_sales['Datum'] <= '2019-07-31')

In [10]:
# Step 3: Apply the masks to create new DataFrames
train_df = df_sales.loc[train_mask].copy()
val_df = df_sales.loc[val_mask].copy()
test_df = df_sales.loc[test_mask].copy()