# ToDO

Download the test data set from Kaggle and merge it with your current data set.

# Splitting the Data Set

We would split the Bakery Sales data

In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns


# Global plot settings
plt.rcParams['figure.dpi'] = 150   # Set the resolution of the plots to 150 DPI
plt.style.use('fivethirtyeight')

Read the data

In [18]:
df_sales = pd.read_csv("/workspaces/bakery_prediction/0_DataPreparation/Processed/05_ls_weather_variables.csv", encoding = "utf-8")

df_sales.head()

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Woche,Monat,Wochentag,Feiertag,Jahreszeit,Ferien,sunny,cloudy,rainy,thunderstorm
0,1307011,2013-07-01,1,148.828353,0,6,17.8375,15,27,7,1,0,3,0,0,1,0,0
1,1307012,2013-07-01,2,535.856285,0,6,17.8375,15,27,7,1,0,3,0,0,1,0,0
2,1307013,2013-07-01,3,201.198426,0,6,17.8375,15,27,7,1,0,3,0,0,1,0,0
3,1307014,2013-07-01,4,65.890169,0,6,17.8375,15,27,7,1,0,3,0,0,1,0,0
4,1307015,2013-07-01,5,317.475875,0,6,17.8375,15,27,7,1,0,3,0,0,1,0,0

## Splitting by 'Date Mask'

Write code to split your dataset into 

- a training dataset from 01.07.2013 to 31.07.2017
- a validation dataset from 01.08.2017 to 31.07.2018
- the test set from 01.08.2018 to 31.07.2019

In [19]:
# Step 1: Convert the 'Datum' column to datetime format
df_sales["Datum"] = pd.to_datetime(df_sales["Datum"], errors="coerce", format="%Y-%m-%d")

In [20]:
# Step 2: Define the masks for each split
# We use >= for the start and <= for the end to include the boundary dates
train_mask = (df_sales['Datum'] >= '2013-07-01') & (df_sales['Datum'] <= '2017-07-31')
val_mask = (df_sales['Datum'] >= '2017-08-01') & (df_sales['Datum'] <= '2018-07-31')
test_mask = (df_sales['Datum'] >= '2018-08-01') & (df_sales['Datum'] <= '2019-07-31')

In [21]:
# Step 3: Apply the masks to create new DataFrames
train_df = df_sales.loc[train_mask].copy()
val_df = df_sales.loc[val_mask].copy()
test_df = df_sales.loc[test_mask].copy()

In [22]:
# Step 4 : save the new DataFrames to CSV files
train_df.to_csv("/workspaces/bakery_prediction/2_BaselineModel/split_data/train_data.csv", index=False)
val_df.to_csv("/workspaces/bakery_prediction/2_BaselineModel/split_data/val_data.csv", index=False)
test_df.to_csv("/workspaces/bakery_prediction/2_BaselineModel/split_data/test_data.csv", index=False)