In [7]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Global plot settings
plt.rcParams['figure.dpi'] = 150   # Set the resolution of the plots to 150 DPI
plt.style.use('fivethirtyeight')

In [8]:
filepath = '/workspaces/bakery_prediction/0_DataPreparation/Processed/04_featured_data_with_weather_variables.csv'
df_sales = pd.read_csv(filepath , encoding='utf-8')


df_sales.head()

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Wochentag,Feiertag,Ferien,sunny,cloudy,rainy,thunderstorm
0,1307011,2013-07-01,1,148.828353,0,6,17.8375,15,cloudy,27,7,1,0,0,0,1,0,0
1,1307012,2013-07-01,2,535.856285,0,6,17.8375,15,cloudy,27,7,1,0,0,0,1,0,0
2,1307013,2013-07-01,3,201.198426,0,6,17.8375,15,cloudy,27,7,1,0,0,0,1,0,0
3,1307014,2013-07-01,4,65.890169,0,6,17.8375,15,cloudy,27,7,1,0,0,0,1,0,0
4,1307015,2013-07-01,5,317.475875,0,6,17.8375,15,cloudy,27,7,1,0,0,0,1,0,0

In [ ]:
# making a copy of the dataframe
df = df_sales.copy()

#drop unneeded columns
not_required_columns = ['Woche', 'Monat', 'Wochentag','sunny','cloudy','rainy','thunderstorm']
                        
df.drop(columns = not_required_columns,inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11418 entries, 0 to 11417
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   11418 non-null  int64
 1   Datum                11418 non-null  object
 2   Warengruppe          11418 non-null  int64
 3   Umsatz               9521 non-null   float64
 4   KielerWoche          11418 non-null  int64
 5   Bewoelkung           11418 non-null  int64
 6   Temperatur           11418 non-null  float64
 7   Windgeschwindigkeit  11418 non-null  int64
 8   Wettercode           11418 non-null  object
 9   Feiertag             11418 non-null  int64
 10  Ferien               11418 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 981.4+ KB

In [10]:
df["Datum"] = pd.to_datetime(df["Datum"], errors="coerce", format="%Y-%m-%d")

# other time intelligence columns on the sales Table
df["Year"] = df["Datum"].dt.year                   # year column
df["Month_Num"] = df["Datum"].dt.month                 # month column (number)
df["Month_Name"] = df["Datum"].dt.month_name()           # month name
df["Weekday_Num"] = df["Datum"].dt.weekday               # weekday Code
df["Weekday"] = df["Datum"].dt.day_name()              # Weekday Name 


df.head()

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Feiertag,Ferien,Year,Month_Num,Month_Name,Weekday_Num,Weekday
0,1307011,2013-07-01,1,148.828353,0,6,17.8375,15,cloudy,0,0,2013,7,July,0,Monday
1,1307012,2013-07-01,2,535.856285,0,6,17.8375,15,cloudy,0,0,2013,7,July,0,Monday
2,1307013,2013-07-01,3,201.198426,0,6,17.8375,15,cloudy,0,0,2013,7,July,0,Monday
3,1307014,2013-07-01,4,65.890169,0,6,17.8375,15,cloudy,0,0,2013,7,July,0,Monday
4,1307015,2013-07-01,5,317.475875,0,6,17.8375,15,cloudy,0,0,2013,7,July,0,Monday

In [11]:
# total sales amount across the product groups
total_sales = df.groupby('Warengruppe')['Umsatz'].sum().reset_index()
total_sales = total_sales.sort_values(by='Umsatz', ascending=False)

In [12]:
total_sales

   Warengruppe         Umsatz
1            2  732143.699518
4            5  503491.030149
2            3  297117.132705
0            1  222177.223458
3            4  155326.837913
5            6   19539.657423